{% extends 'index.html' %}
{% load static %}
{% block metadescription %}
    {{products.description|truncatewords:150}}
{% endblock %}
{% block title %}
{% if products %}
    {{products.name}}
{% endif %}
{% endblock %}
{% block body %}
<div class="row my_row_pro">
    <div class="mx_auto">
        <p><a href="{% url 'Shop:allProducts' %}">All products</a>|<a href="{{products.category.get_url}}">{{products.category}}</a>|{{products.name}}</p>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 col-sm-12 col-lg-6">
            <div style="min-width:18rem;">
            <img class="my_pro_image" src="{{products.image.url}}" alt="{{products.name}}">
            </div>
        </div>

    <div class="col-12 col-md-12 col-sm-12 col-lg-6">
        <div class="prod_det">
            <h1 class="prod_name">{{products.name}}</h1>
            <p>${{products.price}}</p>
            <p class="text-justify prod_title">Product Description</p>
            <p class="text-justify prod_desc">{{products.description}}</p>
            {% if products.stock <= 0 %}
            <p><b>Out Of Stock</b></p>
            {% else %}
            <a href="{% url 'Cart:add_cart' products.id %}" class="btn btn-warning cart">Add to Cart</a>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}